RadiantRFID.RaaS/RadiantRFID.RaaS.DomainModel/Service References/DeviceRepositoryService/DeviceRepository.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://www.radiantrfid.com/rms/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://stas-pc:8080/RMS/integration/DeviceRepository.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.radiantrfid.com/rms/" minOccurs="0" name="GetItemsResult" nillable="true" type="q1:ArrayOfDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfDevice">
    <xs:sequence>
      <xs:element xmlns:q2="http://www.radiantrfid.com/rms/" minOccurs="0" maxOccurs="unbounded" name="Device" nillable="true" type="q2:Device" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q3="http://www.radiantrfid.com/rms/" name="ArrayOfDevice" nillable="true" type="q3:ArrayOfDevice" />
  <xs:complexType name="Device">
    <xs:sequence>
      <xs:element minOccurs="0" name="AntennaPortCount" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MacAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutputPortCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q4="http://www.radiantrfid.com/rms/" name="Device" nillable="true" type="q4:Device" />
</xs:schema>